@model Tuple<List<Teacher4.Core.DTOs.Course.ShowCourseListItemViewModel>, int>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="mt-2"></div>
<!-------------------------  Start Titel & Search  ------------------------>
<form id="formFilter" action="/Course" method="get">
    <input type="hidden" id="pageid" name="pageId" value="@ViewBag.pageId.ToString()" />

    <section>
        <div class="container  notification has-background-warning-light box">
            <div class="columns px-0 py-0">
                <div class="column ">
                    <div class="field has-addons" style=" direction:ltr !important;">
                        <div class="control is-expanded">

                            <input name="filter" style=" direction:rtl !important;" class="input is-info" type="text" placeholder="عنوان مورد نظر...">
                        </div>
                        <div class="control ">
                            <button class="button is-info">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="my5"><br></div>
    <!-----------------------------  Start body  ------------------------------>
    <section>
        <div class="container">
            <div class="flex-container">
                @foreach (var item in Model.Item1)
                {
                    <partial name="_BoxCourse" model="@item" />
                }
            </div>
        </div>
    </section>
    <!-----------------------------  Start pagination  ------------------------------>
    <div class="container my-6">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">

                @for (int i = 1; i <= (int)Model.Item2; i++)
                {
                    <li><a class="pagination-link " aria-label="Goto page @i" onclick="changePage(@i)" href="/Course?pageId=@i">@i</a></li>
                }
            </ul>
        </nav>
    </div>
</form>
@section Scripts{

    <script type="text/javascript">

        function changePage(pageid) {
            $("#pageid").val(pageid);
            $("#formFilter").submit();
        }

        function changeGroup() {
            $("#formFilter").submit();
        }
    </script>
}