@model Teacher4.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_Account.cshtml";
}
    <section class="section">
        <div class="container">
            <div class="columns body  ">
                <div class="column identity-center is-4 notification is-warning is-light box">
                    <div class="mb-5 has-text-centered">
                        <h1 class="title is-5">بازیابی کلمه عبور</h1>
                    </div>
                    @if (ViewBag.IsSuccess != null)
                    {
                        <div class="notification is-success is-light">
                            <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
                        </div>
                    }

                    <div class="form-layer">

                        <form asp-action="ForgotPassword" method="post">

                            <div class="field">
                                <div class="control  has-icons-right">
                                    <input asp-for="Email" class="input is-warning is-small has-text-centered" type="email"
                                           placeholder="ایمیل">
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="Email"></span>


                            <button class="button is-warning is-small is-fullwidth">تایید و ارسال</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

