      <!------------------------------  Start Footer  ---------------------------->
<footer class="footer mt-6">
    <div class="content  container my-4">
        <div class="columns px-5" id="footer">
            <div class="column ">
                <h2 class="is-size-6"> ~ درباره ما</h2>

                <p class="is-size-7-touch">
                    <strong class="">به وبسایت من خوش آمدید.</strong> <br>
                    هدف از راه اندازی این صفحه اشتراک تجربیات آموزشی با شماست، امید که با ارائه نظرات خود ما را در رسیدن به
                    اهدافمان یاری نمایید.
                </p>
            </div>
            <div class="column">
                <h2 class="is-size-6">~ تماس با ما</h2>
                <p class=" is-size-7-touch">
                    <span class="icon-text ">
                        <span class="icon">
                            <i class="fas fa-phone"></i>
                        </span>
                        <span>09132252521</span>
                    </span>
                    <br>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>teacher4@gmail.com</span>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="main-footer has-text-centered has-text-link-light">
        <span class="has-text-white is-size-7">
            تمامی حقوق مادی و معنوی این وب سایت محفوظ است.
        </span>
    </div>
</footer>