@model Teacher4.Core.DTOs.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر گذر واژه";
    Layout = "~/Views/Shared/_Account.cshtml";
}

<!--------------------------------  Start body  ------------------------------->
<section>
    <div class="container">
        <div class="columns mt-4">
            <!-------------- Side Right -------------->
            <partial name="_SideBar" />
            <!--------------- Side Left -------------->
            <div class="column">
                <div class="message is-info ">
                    <div class="message-header">
                        <span> تغییر گذر واژه </span>
                    </div>
                    <div class="message-body box">
                        <div class="content">
                            <!-- Change password -->
                            <form asp-action="ChangePassword" method="post">

                                @if (ViewBag.IsSuccess != null)
                                {
                                    <div class="notification is-success is-light">
                                        کلمه عبور شما با موفقیت ویرایش شد
                                    </div>
                                }
                                <div class="columns">
                                    <div class="column is-6">
                                        <div class="field">
                                            <div class="control  has-icons-right">
                                                <input asp-for="OldPassword" class="input is-warning is-small has-text-centered" type="password"
                                                       placeholder=" گذر واژه فعلی">
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control  has-icons-right">
                                                <input asp-for="Password" class="input is-warning is-small has-text-centered" type="password"
                                                       placeholder="گذر واژه">
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control  has-icons-right">
                                                <input asp-for="RePassword" class="input is-warning is-small has-text-centered" type="password"
                                                       placeholder="تکرار گذر واژه ">
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div asp-validation-summary="All" class="has-text-danger is-size-7"></div>

                                        <button class="button is-warning is-small is-fullwidth">ثبت تغییرات</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
